.all{
    display: grid;
    grid-template-columns: 20% 80%;
    background: white;

}

.right{
    display: grid;
    grid-template-rows: 10% 90% ;
    height: 100vh;
    
}
.chat{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.input{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.input > button{
    height: 30px;
    width :30px;
    margin: 0;
    border: none;
    background: #315C2B;
}
.input > input{
    width: 60%;
    height: 30px;
    margin: 0;
    border: none;
}



