
.flex{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 1rem;
    background:none;
    padding: 2rem;

}

.flex > a {
    padding-right: 1rem;
    color: #274029;
    font-size: large ;
    /* text-shadow: 1px 0 #9EA93F; */

}