
.flex{
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    background: #131c15;
    height: 100vh;
    color: #9EA93F;
}



/* .bottom{
    position: absolute;
    bottom: 0;
    padding: 20px;
} */

/* .top{
    position: relative;
    top: 0;
    padding: 10px;
} */

.centereText{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:flex-start;
    align-items: center;
    padding: 20px;
    height: 100%;

}


.box{
    border: solid white 1px;
    border-radius: 10px;
    padding: 20px;
}

.history{
    padding-top: 20px ;
}
